<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <%- include("./css.ejs") %>
</head>
<body>
    <h1>Edit <%= poke.name %></h1>
    




    <form action="/pokemon/<%= id %>?_method=PUT" method="post">
        <label>Name: <input type="text" name="name" value="<%= poke.name %>"></label>
        
        <input type="submit" value="Update <%= poke.name %>"/>
    </form>

    <img src= <%= poke.img %>>
    <div class="show-id"> <%= poke.id %></div>
    <div class="show-name"> <%= poke.name %></div>



</body>
</html>