<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon show page</h1>
    
    <img src= <%= pokemon[id].img %>>
    <div class="show-id"> <%= pokemon[id].id %></div>
    <div class="show-name"> <%= pokemon[id].name %></div>
    <div class="show-type"> <%= pokemon[id].type %></div>
    <div class="show-stats"> <%= Object.entries(pokemon[id].stats) %></div>

    <a href="/pokemon">Back to Pokedex</a>
</body>
</html>