<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./css.ejs") %>
</head>
<body>
    <a href="/pokemon">Back to Pokedex</a>
    <h1>Pokemon show page</h1>
    

    <img src= <%= pokemon[id].img %>>
    <div class="show-id"> <%= pokemon[id].id %></div>
    <div class="show-name"> <%= pokemon[id].name %></div>
    <div class="show-type">Type: <%= pokemon[id].type %></div>
    <div class="show-stats">Stats: <%= Object.entries(pokemon[id].stats) %></div>
    <div class="show-happy">Happiness: <%= pokemon[id].misc.happiness %></div>

    <a href="/pokemon/<%= id %>/edit"><button>Edit Pokemon</button></a>
    
</body>
</html>