<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <%- include("./css.ejs") %>
</head>
<body id="edit-page-body">
    <div id="edit-body">
        <h1>Edit <%= pokemon.name %></h1>
        <form action="/pokemons/<%= id %>?_method=PUT" method="post" id="editform">
            <fieldset id="editpokemon">
                <legend>Edit Pokemon</legend>
                    <label for="name">Name: </label>
                    <input type="text" name="name" value="<%= pokemon.name %>" class="edit-input">
                    <label for="id">ID: </label>
                    <input type="text" name="id" value="<%= pokemon.id %>" class="edit-input">
                <input type="submit" value="Update <%= pokemon.name %>" class="edit-input"/>
            </fieldset>    
        </form>
    </div>

        

</body>
</html>