<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OG Pokedex</title>
    <%- include("./css.ejs") %>
</head>
<body id="index-body">
    <h1>Pokedex</h1>

    <nav>
        <a href="/pokemons/new" class="link-to-new">Add a new pokemon</a>
    </nav>
    <div class="poke-container">
        <div class="dex-card"> <!-- controlling the children MIND CONTORL-->
            <% for (let i = 0; i < pokemons.length; i++){ %>
                <div class="pokemon">
                    <a href="pokemons/<%= i %>" class="dex-box"><img src= <%= pokemons[i].img %> class="dex-img"></a>
                    <div class="dex-id"> <%= pokemons[i].id %></div>
                    <div class="dex-name"> <%= pokemons[i].name %></div>

                    <form action="/pokemons/<%= i %>?_method=DELETE" method="post" class="delete-form">
                        <input type="submit" value="delete">
                    </form>
                </div>
            <% } %> 
        </div>     
    </div>    
</body>
</html>


